<!-- if invoked from search.html.erb, then there will be a search_item passed in -->
<% product_reactions = product.causes_reaction %>

<% if product_reactions.any? %>
  <% search_item = product_reactions.select(:reactive_ingredient).distinct.pluck(:reactive_ingredient) %> 
<% end %>


<tr class="product-index">
  <td class="<%= product_reactions.empty? ? 'text-color-ok' : 'text-color-not-ok' %>">
    <%= highlight(product.name, search_item) %>
  </td>
  <td class="<%= product_reactions.empty? ? 'text-color-ok' : 'text-color-not-ok' %>">
    <%= highlight(product.ingredients, search_item) %>
  </td>
  <% if index_view %>     
    <td><%= link_to 'Edit', edit_product_path(product) %></td>
    <td><%= link_to 'Show', product_path(product) %></td>
    <!-- <td><a href="/products/<%= product.id %>" onclick="return handleShow(event);">Show</a> -->
    <td><%= link_to 'Delete', product_path(product), method: :delete, data: {confirm: "Are you sure?"} %></td>
  <% end %>
</tr>
  


