<!-- if invoked from search.html.erb, then there will be a search_item passed in -->
<% product_reactions = product.causes_reaction %>

<% if product.causes_reaction.any? %>
  <% search_item = product_reactions.select(:reactive_ingredient).distinct.pluck(:reactive_ingredient) %> 
<% end %>

<tr class = "<%= product_reactions.empty? ? 'text-color-ok' : 'text-color-not-ok' %>">
  <td>
    <div class="actions">
      <a href="/products/<%= product.id %>/edit">
        <span class="glyphicon glyphicon-pencil"></span>
      </a>
      <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/products/<%= product.id %>">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
      <a href="/products/<%= product.id %>">
        <span class="glyphicon glyphicon-eye-open"></span>
      </a>
    </div>
    <a style="text-decoration:none; color:currentColor;" href="/products/<%= product.id %>"  >
      <%= highlight(product.name, search_item) %>
    </a>
  </td>
  <td>
    <a style="text-decoration:none; color:currentColor;" href="/products/<%= product.id %>"  >
      <%= highlight(product.ingredients, search_item) %>
    </a>
  </td>
</tr>
