<h3 class="center-heading label-color"><strong><%= @product.name %></strong></h3>
<br>
<table>
  <tr>
  </tr>
  <!-- Check if product's ingredients cause an allergic reaction -->    
  <!-- if product contains NO ALLERGENS -->
  <% if @product.causes_reaction.empty? %>
      <h5 class="center-heading text-color-ok"><strong>Ingredients: Contain No Allergens</strong></h5>
      <% @product.get_ingredients.each do |current_ingredient| %>  
      <tr class='row'>
      <tr>
        <td class="show-ingredient-name add-padding text-color-ok"><%= current_ingredient %></td>
        <td class="center-glyphicon text-color-ok">
          <span class="glyphicon glyphicon-ok"></span>
        </td>
      </tr>
    <% end %>
  <!-- else product CONTAINS ALLERGENS -->
  <% else %>
    <h5 class="center-heading text-color-not-ok"><strong>Ingredients: Contain Allergens</strong></h5>
    <!-- display each product ingredient -->
    <% @product.get_ingredients.each do |current_ingredient| %>  
      <!-- check if ingredient for this product is in Reaction db -->
      <% ingredient_search_results = search_all_reactions(current_ingredient, current_user) %>
      <!-- if ingredient causes reaction -->
      <% unless ingredient_search_results.empty? %>
        <tr>
          <td class="show-ingredient-name add-padding background-color-not-ok">
            <%= current_ingredient %>
          </td>
          <td class="add-padding background-color-not-ok">
            <% reactive_allergens = Allergen.find(ingredient_search_results.pluck(:allergen_id)) %>
            <div class="center-glyphicon text-color-not-ok">
              <span class="glyphicon glyphicon-ban-circle"></span> 
            </div>
            <div class="row">
              <div class="col-lg-12">
                <%= render partial: 'shared/allergen_target', collection: reactive_allergens, :locals => {search_item: current_ingredient}  %>
              </div>
            </div>
          </td>
        </tr>
      <% else %>
      <!-- ingredient does not cause a reaction -->
        <tr>
          <td class="show-ingredient-name add-padding text-color-ok"><%= current_ingredient %></td>
          <td class="center-glyphicon text-color-ok">
            <span class="glyphicon glyphicon-ok"></span>
          </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</table>
<br>
<div class="center product-actions">
  <%= link_to "Edit this product", edit_product_path(@product), class: "btn btn-xlarge btn-info" %>
  <%= link_to "Delete this product", product_path(@product), method: :delete,
    data: { confirm: "Are you sure you want to delete the product?"},
    class: "btn btn-xlarge btn-danger" %>
  <%= link_to "View all products", products_path, class: "btn btn-xlarge btn-success" %>
</div>
<script>
  var h = $('.center');
</script>